.masonry {
  $item-spacing: 10px;

  column-count: 1;
  column-gap: $item-spacing;

  & > .masonry__item {
    display: inline-block;
    margin: $item-spacing / 2 0;
    width: 100%;
  }
}

@media only screen and (min-width: 400px) {
  .masonry {
    column-count: 2;
  }
}

@media only screen and (min-width: 700px) {
  .masonry {
    column-count: 3;
  }
}

@media only screen and (min-width: 900px) {
  .masonry {
    column-count: 4;
  }
}

@media only screen and (min-width: 1100px) {
  .masonry {;
    column-count: 5;
  }
}

@media only screen and (min-width: 1600px) {
  .masonry {;
    column-count: 6;
  }
}
