.movie {
  background-position: center;
  background-size: cover;
  padding: 10px;
  position: relative;
  z-index: 1;

  &::before {
    background-color: #212121;
    bottom: 0;
    content: '';
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}
