body {
  font-family: 'Open Sans', sans-serif;
}

p {
  margin-bottom: 1em;
}

h1 {
  font-size: $font-size--lg;
  font-weight: 800;
  line-height: 1.25em;
  margin-bottom: .618em;
}

.heading {
  font-size: $font-size--xl;
}

.error {
  color: #ef5350;
  font-size: $font-size--lg;
}
