@import 'vars';
@import 'typography';
@import 'masonry';
@import 'movie';
@import 'directives/directives';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $background-color;
  color: $color;
  padding: 10px;
}
