<ul ng-class="{'rating--animate': animating}" class="rating">
  <li ng-repeat="item in ::values"
      ng-click="select(item)"
      ng-class="{'rating__star--active' : item <= value}"
      class="rating__star">
  </li>
</ul>
