//Configure and import Ionicons
$ionicons-font-path: '//code.ionicframework.com/ionicons/2.0.1/fonts';
@import '../../../node_modules/ionicons/scss/ionicons-variables';
@import '../../../node_modules/ionicons/scss/ionicons-font';

.rating {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: .5rem 0;
  padding-left: 0;

  &:hover:not(.rating--animate) > .rating__star {
    &::before {
      content: $ionicon-var-android-star;
    }

    &:hover ~ .rating__star {
      &::before {
        content: $ionicon-var-android-star-outline;
      }
    }
  }

  &.rating--animate > .rating__star--active {
    animation: spin .5s ease-in-out 0s infinite;
    // Fixes webkit animation flash bug. See: https://www.sitepoint.com/fix-chrome-animation-flash-bug/
    backface-visibility: visible;
  }

  & > .rating__star {
    $star-spacing: 4px;

    backface-visibility: hidden;
    display: inline-block;
    list-style: none;
    padding: 0 $star-spacing / 2;

    &:first-child {
      margin-left: -$star-spacing / 2;
    }

    &:last-child {
      margin-right: -$star-spacing / 2;
    }

    &::before {
      @extend .ion;
      content: $ionicon-var-android-star-outline;
    }

    &.rating__star--active {
      &::before {
        content: $ionicon-var-android-star;
      }
    }
  }

  @keyframes spin {

    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(180deg);
    }

  }
}
