<h1 class="heading">Movies</h1>
<div ng-if="!movies.serverError" class="masonry">
  <article ng-repeat="movie in movies.list" ng-style="{'background-image': 'url({{::movie.posters.original}})'}" class="movie masonry__item">
    <h1>{{::movie.title}}</h1>
    <p>{{::movie.synopsis | characters:100}}</p>
    <rating max-value="5" value="movie.rating"></rating>
  </article>
</div>
<p ng-if="movies.serverError" class="error">Failed to load movies! :-(</p>
